<!doctype html>
<html>
<head>
  <title>Madlib Game</title>
</head>
<body>

<h1>Let's Play</h1>

<form action="/madlib">
    <p>Pick a name!</p>
    <div>
        <textarea name="name"></textarea>
    </div>
    <p>Pick a Color</p>
    <div>
        <textarea name="color"></textarea>
    </div>
    <p>Pick a noun</p>
        <select name="noun">
            <option value="house">House</option>
            <option value="flower">Flower</option>            
            <option value="mouse">Mouse</option>
        </select>
    <p>Pick an adjective</p>
    <div>
        <textarea name="adjective"></textarea>
    </div>
    <input type="submit"></input>
</form>

</body>
</html>